# logs
/logs
*.log
htmlcov
# jetbrains ide
/.idea
/output
**/output
# others
out
/.data
/classes

/data
*.jpr
*.ipr
*.jws
*.iws
*.log
*.iml
*.tmp
*.csv
**/__pycache__
.coverage
coverage.xml
nose2-junit.xml
